.list-container {
    background-color: steelblue;
    margin: 20px;
    border-radius: 10px;
    overflow: auto;
}

.list {
    margin: 10px 20px;
    min-height: 80px;
}

.no-tasks {
    font-size: 21px;
    color: white;
    text-align: center;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
