.todo {
    background-color: white;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.name, .icons {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.name {
    padding: 10px;
}

.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.tick {
    height: 12px;
    width: 14px;
}

.finished {
    text-decoration: line-through;
    color: darkgray;
}

.finished .checkbox {
    border-color: darkgray;
}

.pencil, .trash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.pencil {
    background-color: darkseagreen;
}

.trash {
    background-color: indianred;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pencil-icon, .trash-icon {
    width: 23px;
}
